<main id="main" class="main" style="margin-top: 60px;">

  <section class="section dashboard">

    <div class="row">

      <div class="col-lg-3">

        <div class="row text-center">
          <h5 class="card-title">Chi tiết sản phẩm</h5>
        </div>

      </div>

      <div class="col-lg-9">

        <div class="row">

          <div class="col-lg-5">

            <div class="search-bar" style="margin-top: 6px; padding-left: 0;">
              <form class="search-form d-flex align-items-center">
                <input type="text" ng-model="query" ng-change="search()" placeholder="Tìm sản phẩm"
                  title="Tìm sản phẩm theo mã hoặc tên" style="padding-top: 6px; padding-bottom: 5px;">
              </form>
            </div>

          </div>

          <div class="col-lg-7" style="padding: 10px 0;">
            <a href="#/products/add" class="btn btn-success buttonbtn" title="Thêm sản phẩm"><i
                class="far fa-plus"></i></a>
            <button class="btn btn-success buttonbtn" title="Import"><i class="fas fa-fw fa-file-import"></i></button>
            <button ng-click="exportToExcel()" class="btn btn-success buttonbtn" title="Xuất file"><i
                class="fas fa-fw fa-file-export"></i></button>
            <button class="btn btn-success buttonbtn" title="Làm mới" ng-click="loadAll()"><i
                class="fa-solid fa-rotate-right"></i></button>
            <button class="btn btn-success buttonbtn" title="Lịch sử thao tác"><i
                class="fa-solid fa-clock-rotate-left"></i> Lịch sử thao tác</button>
            <button class="btn btn-success buttonbtn" title="Đã dừng hoạt động"><i class="fa-solid fa-pause"></i> Đã
              dừng hoạt động</button>
          </div>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-lg-3">

        <div class="card-body" style="padding-bottom: 0px;">



        </div>


        <div class="card">
          <div class="card-body">

            <div class="row">

              <div style="padding: 5px;">
                <h5 class="card-title">Lọc</h5>
              </div>

              <div class="row">

                <select id="chatlieu" class="form-select-sm" ng-click="filter()">
                  <option value="">Tất cả chất liệu</option>
                  <option ng-repeat="chatlieu in listMaterial" value="{{chatlieu.id}}">
                    {{chatlieu.name}}</option>
                </select>

                <select id="danhmuc" class="form-select-sm" ng-click="filter()">
                  <option value="">Tất cả danh mục</option>
                  <option ng-repeat="danhmuc in listCategory" value="{{danhmuc.id}}">
                    {{danhmuc.name}}</option>
                </select>

                <select id="thuonghieu" class="form-select-sm" ng-click="filter()">
                  <option value="">Tất cả thương hiệu</option>
                  <option ng-repeat="thuonghieu in listBrand" value="{{thuonghieu.id}}">
                    {{thuonghieu.name}}</option>
                </select>

                <select id="kichthuoc" class="form-select-sm" ng-click="filter()">
                  <option value="">Tất cả kích thước</option>
                  <option ng-repeat="kichthuoc in listSize" value="{{kichthuoc.id}}">
                    Size {{kichthuoc.name}}</option>
                </select>

                <select id="thietke" class="form-select-sm" ng-click="filter()">
                  <option value="">Tất cả thiết kế</option>
                  <option ng-repeat="thietke in listDesign" value="{{thietke.id}}">
                    {{thietke.name}}</option>
                </select>

                <select id="mausac" class="form-select-sm" ng-click="filter()">
                  <option value="">Tất cả màu sắc</option>
                  <option ng-repeat="mausac in listColor" value="{{mausac.id}}">
                    {{mausac.name}}</option>
                </select>

                <br>
                <div>
                  <label>Số lượng</label>
                  <select id="soLuong" class="form-select-sm" ng-click="filter()">
                    <option value="">Tất cả</option>
                    <option value="10">Sắp hết</option>
                    <option value="1">Đã hết</option>
                  </select>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-9">

        <div class="card">
          <div class="card-body">

            <table class="table">
              <thead>
                <th scope="row">#</th>
                <th scope="row">Ảnh</th>
                <th scope="row">Mã Sản Phẩm</th>
                <th scope="row">Tên Sản Phẩm</th>
                <th scope="row">Giá Bán</th>
                <th scope="row">Trạng Thái</th>
                <th scope="row">Thao tác</th>
              </thead>
              <tbody>
                <tr ng-if="list.length > 0" ng-repeat="sp in pager.items">
                  <td style="padding-top: 15px;"> {{$index + 1}}</td>
                  <td>
                    <span ng-repeat="img in sp.product.productImages">
                      <span ng-if="img.mainImage == true">
                        <img style="width: 50px;height: 50px" src="{{img.url}}">
                      </span>
                    </span>
                    <div>
                      <span class="blinking-text" data-ng-init="getQuantity(sp)" ><span
                          ng-if="sp.quantityWarningText != null"><i class="fa-solid fa-triangle-exclamation"></i></span>
                        <span ng-bind="sp.quantityWarningText"></span>
                      </span>
                    </div>
                  </td>
                  <td style="padding-top: 15px;">{{sp.product.code}}</td>
                  <td style="padding-top: 15px;">{{sp.product.name}}</td>
                  <td style="padding-top: 15px;">{{sp.price | currency:'':0}} VNĐ</td>
                  <td style="padding-top: 15px;">
                    <span class="badge" ng-class="{'bg-success': sp.status === 0, 'bg-danger': sp.status !== 0}">
                    {{ sp.status === 0 ? 'Đang bán' : 'Dừng bán' }}</span>
                  </td>

                  <td>
                    <button class="btn btn-light buttonbtn" ng-click="openChiTiet(sp.id)"><i
                        class="fa-solid fa-circle-info"></i></button>
                    <a href="#/products/update"><button class="btn btn-indigo"><i class="fa-solid fa-pen-to-square"></i>
                        Sửa</button></a>
                    <a href=""><button ng-if="sp.status == 0" ng-click="delete(sp.id)" class="btn btn-indigo"><i
                          class="fa-solid fa-pause"></i>
                        Dừng</button></a>

                  </td>
                </tr>
                <tr ng-if="list.length == 0">
                  <td colspan="13">
                    <div style="text-align: center;">
                      <div><img style="width: 80px; height: 80px;" src="././assets/img/box.png">
                      </div>
                      <h4>Không có sản phẩm nào</h4>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="text-center" ng-if="list.length > 0">
              <div class="btn-group" aria-label="Basic outlined example">
                <button ng-click="pager.first()" type="button" class="btn btn-outline-secondary"><i
                    class="fa-solid fa-angles-left"></i></button>
                <button ng-click="pager.prev()" type="button" class="btn btn-outline-secondary"><i
                    class="fa-solid fa-angle-left"></i></button>
                <button type="button" class="btn btn-outline-secondary">{{pager.page+1}}
                  of
                  {{pager.count}}</button>
                <button ng-click="pager.next()" type="button" class="btn btn-outline-secondary"><i
                    class="fa-solid fa-angle-right"></i></button>
                <button ng-click="pager.last()" type="button" class="btn btn-outline-secondary"><i
                    class="fa-solid fa-angles-right"></i></button>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="popup" ng-class="{ 'show': isChiTietSanPham }">
      <div class="popup-content3">
        <!-- Nội dung của popup -->
        <button class="btn btn-primary" style="float: right;" ng-click="closeChiTiet()">X</button>
        <h1>Chi tiết sản phẩm </h1>
        <div class="row">
          <div class="col-md-3">
            <div id="qrcode"></div>
            <h5 class="card-title">Ảnh đại diện sản phẩm </h5>
            <span ng-repeat="img in form.product.productImages">
              <span ng-if="img.mainImage === true">
                <img id="output1" src="{{img.url}}" />
              </span>
            </span>
            <img id="output" style="display: none;" />
            <h5 class="card-title">Danh sách ảnh sản phẩm</h5>

            <span ng-repeat="img in form.product.productImages">
              <span ng-if="img.mainImage === false">
                <img style="padding-top: 5px;" id="output1" src="{{img.url}}" />
              </span>
            </span>
          </div>
          <div class="col-md-9">
            <div class="row">

              <div class="col-lg-6">
                <div class="row">
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Mã sản phẩm: <span> {{form.product.code}} </span> </label>
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Tên sản phẩm: <span> {{form.product.name}} </span> </label>
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Giá bán: <span> {{form.price | currency:'':0}} VNĐ </span> </label>
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Giảm giá: <span> {{form.discount}} </span> </label>
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Mô tả: <span> {{form.description}} </span> </label>
                  <label for="" style="color: red;font-weight: bold;">Tổng số lượng đã bán : {{quantitySold}}</label>
                  <label for="" style="color: red;font-weight: bold;">Tổng doanh thu : {{totalSold| currency:'':0}} VNĐ</label>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="row">
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Danh mục: <span ng-repeat="dm in listCategory">
                      <span ng-if="dm.id == form.category.id">
                        {{dm.name}}
                      </span>
                    </span> </label>
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Thương hiệu: <span ng-repeat="th in listBrand"><span
                        ng-if="th.id == form.brand.id">{{th.name}}</span></span></label>
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Thiết kế: <span ng-repeat="tk in listDesign">
                      <span ng-if="tk.id == form.design.id">{{tk.name}}
                      </span></span> </label>
                  <label for="" class="col-form-label" style="color: #000;font-weight: bold;">Chất liệu: <span style="padding-left: 5px"
                      ng-repeat="chatlieu in form.productDetail_materials">{{chatlieu.material.name}}</span> </label>
                 
                </div>
              </div>
            </div>

            <div class="row">



            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

</main>