<!-- ======= Main ======= -->
<main id="main" class="main">

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="card tableproduct">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">

                                            <div class="col-lg-5">
                                                <div class="search-bar">
                                                    <form class="search-form d-flex align-items-center">
                                                        <input type="text" ng-model="query" ng-change="search()"
                                                            placeholder="Tìm hàng hóa"
                                                            title="Tìm sản phẩm theo mã hoặc tên">
                                                    </form>
                                                </div>
                                            </div><!-- End Search Bar -->
                                      
                                            <div class="col-lg-4">
                                                <div class="search-bar">
                                                    <button ng-click="webcam()" class="btn btn-dark"><i
                                                            class="fa-solid fa-qrcode"></i>
                                                        Scan QR
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                
                                </div>

                                <div ng-show="showProducts" class="list-group product-list">
                                    <div class="table-wrapper">
                                        <table class="table">
                                            <tbody>
                                                <tr ng-repeat="p in listQuantity | filter: query" >                                        
                                                        <td>
                                                            <a style="display: flex;">
                                                                <div>
                                                                    <img src="" alt="seach" width="10%"> 
                                                                </div>
                                                                <div style="padding-left: 15px;">
                                                                    Mã: {{ p.code }} <br>
                                                                    Tên: {{ p.name }} <br>
                                                                    Tồn: {{ p.quantity }}
                                                                </div>
                                                                <div style="padding-left: 15px;">
                                                                    Màu sắc: {{ p.nameColor }}
                                                                </div>
                                                                <div style="padding-left: 15px;">
                                                                    Size: {{ p.nameSize }}
                                                                </div>
                                                                <div style="padding-left: 15px;">
                                                                    Đơn giá: {{ p.price }} VND
                                                                </div>
                                                            </a>
                                                        </td>                                              
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <table class="table ">
                                    <thead>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="listItem.length > 0" ng-repeat="cart in listItem">
                                            <td>{{ cart.productDetail.product.code }}</td>
                                            <td>{{ cart.productDetail.product.name }}</td>
                                            <td>
                                                <i class="bi bi-dash-circle" ng-click="giam(cart.id)"></i>
                                                <input id="quantity{{cart.id}}" type="number" min="1"
                                                    value="{{cart.quantity}}" class="table-quantity text-center">
                                                <i class="bi bi-plus-circle" ng-click="tang(cart.id)"></i>
                                            </td>
                                            <td>{{cart.productDetail.price | currency:'':0}} VNĐ</td>
                                            <td>{{cart.productDetail.price * cart.quantity | currency:'':0}} VNĐ</td>
                                            <td>
                                                <a href="#"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="listItem.length == 0">
                                            <td colspan="13">
                                                <div style="text-align: center;">
                                                    <div><img style="width: 80px; height: 80px;"
                                                            src="././assets/img/box.png"></div>
                                                    <h4>Không có sản phẩm nào</h4>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>  

                    <div class="col-lg-12">

                        <div class="card ">

                            <div class="card-body" style="padding: 5px;">
                                <div class="row" style="margin-left: 5px;">
                                    <div class="col-lg-3">
                                        <button ng-click="addBill()" class="btn btn-dark" style="width: 120px;">Tạo
                                            hóa đơn</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Có {{listBill.length}} đơn hàng đang chờ</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body" style="height: 90px;">

                                <div>

                                    <span ng-repeat="bill in pager.items">
                                        <button ng-click="choose(bill.code,bill.id)"
                                            style="margin: 2px 1px; width: 80px;"
                                            class="btn btn-dark">{{bill.code}}</button>
                                    </span>

                                    <div ng-if="listBill.length > 0">
                                        <div class="btn-group" aria-label="Basic outlined example">
                                            <button ng-click="pager.first()" type="button" class="btn btn-dark"><i
                                                    class="fa-solid fa-angles-left"></i></button>
                                            <button ng-click="pager.prev()" type="button" class="btn btn-dark"><i
                                                    class="fa-solid fa-angle-left"></i></button>
                                            <button type="button" class="btn btn-dark">{{pager.page+1}}
                                                of
                                                {{pager.count}}</button>
                                            <button ng-click="pager.next()" type="button" class="btn btn-dark"><i
                                                    class="fa-solid fa-angle-right"></i></button>
                                            <button ng-click="pager.last()" type="button" class="btn btn-dark"><i
                                                    class="fa-solid fa-angles-right"></i></button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- End Right side columns -->

                    </div>

                   

                </div>
            </div>
            <!-- End Left side columns -->


            <!-- Right side columns -->
            <div class="col-lg-4">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="card">

                            <div class="card-body" style="height: 440px;">
                                <div class="row">
                                    <h5 class="card-title"
                                        style="padding: 10px 5px 5px 5px; margin-left: 10px; margin-bottom: 0;">Nhân
                                        viên bán hàng: {{user.fullname}}<span> | {{ currentDate | date:'dd/MM/yyyy'
                                            }}</span></h5>
                                    <h5 class="card-title" style="padding: 5px; margin-left: 10px; margin-bottom: 0;">
                                        Đơn hàng: {{hoadonCode.code}}</h5>
                                </div>

                                <hr>

                                <div class="row g-3">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="" class="form-label">Tổng tiền hàng</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="" class="form-label"> {{ getTotalQuantity() }} </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="" class="form-label"> {{tongTien}} VND </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <label for="" class="form-label">Khách cần trả</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="" class="form-label">{{ khachCanTra() }}</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-7">
                                            <label for="" class="form-label">Khách thanh toán</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" name="khachthanhtoan" id="khachthanhtoan"
                                                ng-model="khachThanhToan" ng-keypress="isNumberKey($event)">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <label for="" class="form-label">Tiền thừa trả khách</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="" class="form-label">{{ tinhTienThua() }}</label>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- End Right side columns -->

        </div>


    </section>

</main>
<!-- End #main -->