<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="bi bi-grid"></i>
            <span>Tổng quan</span>
        </a>
    </li><!-- End Category Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#product-nav" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Hàng hóa</span>
        </a>
        <ul id="product-nav" class="nav-content" data-bs-parent="#sidebar-nav">
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>Danh mục</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>Chi tiết sản phẩm</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>Thuộc tính sản phẩm</span>
                </a>
            </li>
        </ul>
    </li><!-- End product Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#product-nav" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Giao dịch</span>
        </a>
        <ul id="product-nav" class="nav-content" data-bs-parent="#sidebar-nav">
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>Hóa đơn</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>Nhập hàng</span>
                </a>
            </li>
        </ul>
    </li><!-- End product Nav -->


</ul>
<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link-right collapsed" href="">
            <i class="bi bi-cart"></i>
            <span>Bán hàng</span>
        </a>
    </li><!-- End Dashboard Nav -->

</ul>