<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#/chart/view">
                <i class="bi bi-grid"></i>
                <span>Tổng quan</span>
            </a>
        </li><!-- End Category Nav -->

        <li class="nav-item nav-item-a">
            <a class="nav-link collapsed" data-bs-target="#product-nav" href="">
                <i class="bi bi-menu-button-wide"></i><span>Hàng hóa</span>
            </a>
            <ul id="product-nav" class="nav-content" data-bs-parent="#sidebar-nav">            
                <li>
                    <a href="#/products/view">
                        <i class="bi bi-circle"></i><span>Chi tiết sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Thuộc tính sản phẩm</span>
                    </a>
                </li>
            </ul>
        </li><!-- End product Nav -->

        <li class="nav-item nav-item-a">
            <a class="nav-link collapsed" data-bs-target="#transaction-nav" href="">
                <i class="bi bi-menu-button-wide"></i><span>Giao dịch</span>
            </a>
            <ul id="transaction-nav" class="nav-content" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Hóa đơn</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Nhập hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End transaction Nav -->

        <li class="nav-item nav-item-a">
            <a class="nav-link collapsed" data-bs-target="#system-nav" href="">
                <i class="bi bi-menu-button-wide"></i><span>Hệ thống</span>
            </a>
            <ul id="system-nav" class="nav-content" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Quản lý tin tức</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Quản lý banner</span>
                    </a>
                </li>
            </ul>
        </li><!-- End system Nav -->


    </ul>
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link-right collapsed" href="#/sell">
                <i class="bi bi-cart"></i>
                <span>Bán hàng</span>
            </a>
        </li>

    </ul>

</aside>
<!-- End Sidebar-->